body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700px;
    color: black;
    background-color: rgb(0, 133, 250);
    
    
}
h2 {
    font-size: 40px;
}

#search-button {
    background-color: rgb(0, 133, 250);
}

#clear {
    background-color: rgb(248, 23, 23);
}