body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700px;
    color: black;
    background-color: aqua;
    border-radius: 20px;
    
}
h2 {
    font-size: 40px;
}

#search-button {
    background-color: brown;
}

#clear {
    background-color: aquamarine;
}